<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>desktop-calendar</title>
    
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, "\\\\") %>')
      </script>
    <% } %>
    
    <style>
      html,
      body {
        background: rgba(0, 0, 0, 0) !important;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      document.addEventListener('dragover', event => event.preventDefault());
      document.addEventListener('drop', event => event.preventDefault());
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
